:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77C0A;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --gradient-border: linear-gradient(
    90deg,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );

  --gradient-background: linear-gradient(#d586e0 0%, #91a1fa 98.93%);
  --gradient-content: linear-gradient(#c7c9cc 0%, #3d3d3d 100%);

  --ff-sora: "Sora", serif;
  --ff-roboto-mono: "Roboto Mono", serif;
  --ff-roboto-flex: "Roboto Flex", serif;

  --display-lg: 800 72px/130% var(--ff-sora);
  --display-md: 800 40px/130% var(--ff-sora);
  --display-sm: 700 32px/130% var(--ff-sora);

  --overline: 700 16px/150% var(--ff-roboto-mono);

  --paragraph-lg: 500 16px/150% var(--ff-roboto-flex);
  --paragraph-md: 500 14px/150% var(--ff-roboto-flex);
  --paragraph-sm: 500 12px/150% var(--ff-roboto-flex);
  --label-md: 700 20px/150% var(--ff-roboto-flex);
  --label-sm: 700 16px/150% var(--ff-roboto-flex);
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  padding: 44px 35px;
  color: var(--content-primary);
}

#logo {
  display: block;
  margin-inline: auto;
}

header {
  margin-top: 46px;
  margin-bottom: 42px;
}

h1 {
  font: var(--display-md);
  color: var(--content-primary);
  text-transform: uppercase;
}

h3 {
  font: var(--overline);
  background: linear-gradient(
    90deg,
    var(--content-secondary),
    var(--background-gray)
  );
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content-form {
  & .title-form {
    margin-bottom: 40px;

    & h2 {
      font: var(--label-md);
      text-transform: uppercase;
    }

    & p {
      font: var(--paragraph-md);
      color: var(--content-secondary);
    }
  }

  & .fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 319px;
  }

  & .number-field {
    display: flex;
    gap: 8px;
    flex-direction: column-reverse;

    & label {
      text-transform: uppercase;
      font: var(--label-md);
      color: var(--content-secondary);
      text-align: center;
    }

    & input {
      all: unset;
      font: var(--display-sm);
      color: var(--content-primary);
      padding: 8px 4px;
      background-color: var(--background-secondary);
      border: 1px solid #111012;
      width: 86px;
      text-align: center;
      border: 2px solid transparent;
    }
  }

  & .number-field:hover {
    & label {
      color: var(--content-brand);
    }

    & input {
      border: 1px solid transparent;
      border-image: var(--gradient-border) 1;
    }
  }

  & .number-field input:focus-within {
    border: 2px solid transparent;
    border-image: var(--gradient-border) 1;
  }

  & .number-field input:focus-within ~ label {
    color: var(--content-brand);
  }

  & button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font: var(--label-md);
    color: var(--content-primary);
    background-color: var(--background-tertiary);
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    cursor: pointer;
    border: 2px solid transparent;
    &:hover {
      animation: animated-border 5s;

      & img {
        animation: animated-arrow 5s backwards;
      }
    }
  }
}

#questions {
  margin-top: 80px;

  & .item {
    display: flex;
    gap: 8px;
    margin-bottom: 36px;
  }

  & img {
    align-self: flex-start;
  }

  & .text {
    display: flex;
    flex-direction: column;

    & .title {
      font: var(--paragraph-md);
      color: var(--content-brand);
    }

    & p {
      font: var(--paragraph-sm);
      color: var(--content-secondary);
    }
  }
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;

  & label {
    font: 400 12px/150% var(--ff-roboto-flex);
    color: var(--content-primary);
  }

  & .switch {
    position: relative;
    width: 40px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--content-tertiary);
    cursor: pointer;

    & input {
      all: unset;
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    & input:checked + .slider {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px);
      background-color: white;
    }

    &:has(:checked) {
      background: var(--gradient-background);
    }
  }

  & .slider {
    position: absolute;
    top: 3px;
    left: 4px;
    background-color: var(--content-primary);
    height: 18px;
    width: 18px;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

#result {
  & h2 {
    font: var(--label-md);
    color: var(--content-primary);
    text-align: center;
    margin-bottom: 4px;
  }

  & p {
    font: var(--overline);
    color: var(--content-secondary);
    text-align: center;
    margin-bottom: 40px;
  }
}

.random-number-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.random-number {
  margin-inline: auto;
  font: 700 64px/150% var(--ff-roboto-mono);
  color: var(--content-brand);
  text-align: center;
  position: relative;
  width: 100px;
  height: 100px;

  & span {
    opacity: 0;
    animation: animated-number-span 5s forwards;
  }
}

.random-number::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--content-brand);
  border-radius: 28px;
  scale: 0;
  animation: animated-number-bg 5s forwards;
}

@keyframes animated-border {
  0% {
    border-image: linear-gradient(
        -40deg,
        #77c0af 0%,
        #d1dc97 15%,
        #e9a9b3 32%,
        #d586e0 67%,
        #91a1fa 86%
      )
      1;
  }

  20% {
    border-image: linear-gradient(
        #77c0af 0%,
        #d1dc97 15%,
        #e9a9b3 32%,
        #d586e0 67%,
        #91a1fa 86%
      )
      1;
  }

  40% {
    border-image: linear-gradient(
        40deg,
        #77c0af 0%,
        #d1dc97 15%,
        #e9a9b3 32%,
        #d586e0 67%,
        #91a1fa 86%
      )
      1;
  }

  60% {
    border-image: linear-gradient(
        -20deg,
        #77c0af 0%,
        #d1dc97 15%,
        #e9a9b3 32%,
        #d586e0 67%,
        #91a1fa 86%
      )
      1;
  }

  80% {
    border-image: linear-gradient(
        -10deg,
        #77c0af 0%,
        #d1dc97 15%,
        #e9a9b3 32%,
        #d586e0 67%,
        #91a1fa 86%
      )
      1;
  }
}

@keyframes animated-arrow {
  50% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes animated-number-bg {
  25% {
    scale: 1;
  }

  50% {
    transform: rotate(180deg);
    scale: 1;
  }

  70% {
    transform: rotate(180deg);
    scale: 0;
  }
}

@keyframes animated-number-span {
  50% {
    opacity: 1;
    color: var(--color-inverse);
  }

  100% {
    opacity: 1;
    color: var(--content-brand);
  }
}

@media (width >= 80rem) {
  body {
    max-width: 1098px;
    margin-inline: auto;
  }

  h1 {
    font: var(--display-lg);
  }

  #logo {
    display: inline-block;
    margin-right: auto;
    margin-bottom: 89px;
  }

  .container {
    display: grid;
    grid-template-areas:
      "header form"
      "questions form";
    column-gap: 108px;
    row-gap: 38px;
    justify-content: center;
  }

  header {
    grid-area: header;
    align-self: start;
    margin: 0;
  }

  #questions {
    grid-area: questions;
    align-self: end;
    margin: 0;
  }

  #content-form {
    margin: 0;
    grid-area: form;
    align-self: center;
  }

  #questions {
    & .item {
      max-width: 386px;
    }
  }
}
